$TITLE_COLOR_DEFAULT: black;
$TITLE_BG_DEFAULT: white;
$TITLE_COLOR_ACTIVE: white;
$TITLE_BG_ACTIVE: black;
$TRANSITION_TIME_TITLE: 400ms;
$CONTENT_BG_DEFAULT: rgb(237, 237, 237);

.scm-Accordion {
  border: 2px solid black;
}

.csm-Accordion-title {
  align-items: center;
  background-color: $TITLE_BG_DEFAULT;
  border-bottom: 1px solid gray;
  color: $TITLE_COLOR_DEFAULT;
  cursor: pointer;
  display: flex;
  padding: 1rem;
  transition-duration: $TRANSITION_TIME_TITLE;
  transition-property: "background-color, color";

  .csm-Accordion-expansionIcon {
    display: inline-block;
    height: 1rem;
    position: relative;
    width: 1rem;
    margin-right: .5rem;

    &:after, &:before {
      content: " ";
      background-color: $TITLE_COLOR_DEFAULT;
      transition: all $TRANSITION_TIME_TITLE ease-in-out;
    }
  
    // Vertical
    &:after {
      bottom: 0%;
      left: 50%;
      margin-left: -0.125rem;
      position: absolute;
      top: 0%;
      width: 0.25rem;
    }

    // Horizontal
    &:before {
      height: 0.25rem;
      left: 0%;
      position: absolute;
      right: 0%;
      top: 50%;
      margin-top: -0.125rem;
      width: 1rem;
    }
  }


  &.is-expanded {
    background-color: $TITLE_BG_ACTIVE;
    color: $TITLE_COLOR_ACTIVE;

    .csm-Accordion-expansionIcon {
      &:after {
        background-color: $TITLE_COLOR_ACTIVE;
        transform: rotate(90deg);
      }
    }
  }

  &:hover {
    background-color: $TITLE_BG_ACTIVE;
    color: $TITLE_COLOR_ACTIVE;

    .csm-Accordion-expansionIcon {
      &:after, &:before {
        background-color: $TITLE_COLOR_ACTIVE;
      }
    }
  }
}


.csm-Accordion-content {
  background-color: $CONTENT_BG_DEFAULT;
  border-bottom: 1px solid gray;
  margin: 0;
  overflow: hidden;
  padding: 1rem;
  transition-property: height, padding, margin;

  &.is-hidden {
    height: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}