.scm-Accordion {
  border: 2px solid black;
}

.csm-Accordion-title {
  padding: 1rem;
  border-bottom: 1px solid gray;
  transition-property: "background-color, color";
  transition-duration: 400ms;
  cursor: pointer;

  &.is-expanded {
    background: black;
    color: white;
  }

  &:hover {
    background: black;
    color: white;
  }
}


.csm-Accordion-content {
  border-bottom: 1px solid gray;
  background-color: rgb(237, 237, 237);
  margin: 0;
  padding: 1rem;
}